@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import '../../tokens.css';
@import '../../tokens2.css';

.button {
  height: 2rem;
  padding-right: var(--spacing-l);
  padding-bottom: 0.125rem;
  padding-left: var(--spacing-l);
  border: none;
  border-radius: var(--border-radius-l);
  color: var(--n100);
  background-color: var(--brand);
  font-family: var(--web-font-family);
  font-size: var(--font-size-s);
  cursor: pointer;
}

.button:hover {
  background-color: var(--b600);
}
