.sh-collapsible {
  overflow: hidden;
  border: 1px solid var(--n300);
  border-radius: var(--border-radius-m);
  background-color: var(--n100);
}

.sh-collapsible--collapsed {
  & > .sh-collapsible__content {
    max-height: 0;
    padding-bottom: 0;
  }
}

.sh-collapsible__header {
  display: flex;
  padding-top: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--spacing-l);
  align-items: center;
  cursor: pointer;
}

.sh-collapsible__title {
  flex-grow: 1;
  color: var(--n600);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.sh-collapsible__toggle {
  flex-grow: 0;
  flex-shrink: 0;

  & > .sh-icon {
    width: 24px;
    height: 24px;
  }
}

.sh-collapsible__content {
  max-height: none;
  padding-right: var(--spacing-l);
  padding-bottom: var(--spacing-l);
  padding-left: var(--spacing-l);
}
