/**
 * @tokens Animations
 * @presenter Animation
 */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-up-with-margin {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

:root {
  --animation-slide-up: slide-up 0.3s;
  --animation-slide-up-with-margin: slide-up-with-margin 0.3s;
  --animation-spinner: rotate 1.2s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

/**
 * @tokens Border Radius
 * @presenter BorderRadius
 */

:root {
  --border-radius-s: 4px;
  --border-radius-m: 5px;
}

/**
 * @tokens Colors
 * @presenter Color
 */

:root {
  --b100: #b3d3ff; /* A description text of your token */
  --b200: #77acff;
  --b300: #3c81ff;
  --b400: #1e6cff;
  --b500: #05f;
  --b600: #004fdf;
  --b700: #0048bf;
  --b800: #00419f;
  --b900: #003880;

  --n0: #fff;
  --n100: #fbfbfb;
  --n200: #f5f6f7;
  --n300: #e4e5e7;
  --n400: #dbdddf;
  --n500: #bfc2c6;
  --n600: #82888f;
  --n700: #60666c;
  --n800: #404347;
  --n900: #1b1b1b;
  --n1000: #000;

  --g500: #09c675;

  --y500: #ffdd38;

  --r500: #ff5722;

  --primary-light: var(--b200);
  --primary: var(--b500);
  --primary-dark: var(--b600);

  --error: var(--r500);
  --success: var(--g500);

  --draft: var(--y500);
  --published: var(--g500);
  --prototype: var(--primary);
  --unpublished: var(--r500);

  --text-dark: var(--n900);
  --text-light: var(--n0);
}

/** 
 * @tokens Gradients
 * @presenter Gradient
 */
 :root {
   --gradient-primary-linear: linear-gradient(#b3d3ff, #3c81ff);
   --gradient-primary-radial: radial-gradient(#b3d3ff, #3c81ff);
 }

/**
 * @tokens Durations
 */

:root {
  --duration-m: 300ms;
}

/**
 * @tokens Easings
 * @presenter Easing
 */

:root {
  --easing-swift: cubic-bezier(0.55, 0, 0.1, 1);
}

/**
 * @tokens Font Families
 */

:root {
  --font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-family-display: 'Source Serif Pro', serif;

  --font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/**
 * @tokens Font Sizes
 * @presenter FontSize
 */

:root {
  --font-size-xs: 1.4rem;
  --font-size-s: 1.5rem;
  --font-size-m: 1.6rem;
  --font-size-l: 1.7rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.4rem;
  --font-size-3xl: 2.8rem;
}

/**
 * @tokens Font Weights
 * @presenter FontWeight
 */

:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}

/**
 * @tokens Line Heights
 * @presenter LineHeight
 */

:root {
  --line-height: 1.5;
}

/**
 * @tokens Shadows
 * @presenter Shadow
 */

:root {
  --shadow-m: 0 1px 3px rgba(0, 0, 0, 0.05);
  --shadow-l: 0 1px 5px rgba(0, 0, 0, 0.075);
}

/**
 * @tokens Spacings
 * @presenter Spacing
 */

:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;
  --spacing-xxl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 48px;
}

/**
 * @tokens Z-Index
 */

:root {
  --z-index-header: 500;
  --z-index-flyout: 700;
  --z-index-modal: 900;
}
