@import './_variables.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  color: var(--text-dark);
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);

  font-feature-settings: 'liga', 'kern';
}

a {
  color: var(--primary);
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--font-weight-bold);
}

pre {
  font-family: var(--font-family-monospace);
}

input {
  color: var(--text-dark);
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
}
