.sh-menu-item {
  display: inline-flex;
  height: 36px;
  padding-right: var(--spacing-l);
  padding-left: var(--spacing-l);
  align-items: center;
  border: none;
  color: var(--n700);
  background-color: var(--n0);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.25px;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--n200);
  }

  &:focus {
    border-color: var(--b100);
    outline: none;
    box-shadow: 0 0 3px var(--b100);
    z-index: 1;
  }

  &:disabled {
    color: var(--n500);
    cursor: not-allowed;
  }
}

.sh-menu-item__icon {
  margin-right: var(--spacing-l);
}
