.sh-button-group {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: var(--spacing-m);
  }
}

.sh-button-group--spacing-xs {
  & > *:not(:last-child) {
    margin-right: var(--spacing-xs);
  }
}

.sh-button-group--spacing-s {
  & > *:not(:last-child) {
    margin-right: var(--spacing-s);
  }
}
