/**
  * @tokens SCSS Colors
  * @presenter Color
  */

$b500: #00f; /* Token Description Example */
$g500: #0f0;
$r500: #f00 !default;
$function: rgba(255, 255, 0, 0.5);
$sass-function: lighten($brand, 0.5);

/**
  
    * @tokens SCSS Fonts
    * @presenter FontFamily
    */

$base: system-ui, sans-serif;

/**
  * @tokens SCSS Z-Index
  */

$z-index: 1000;
